{% load static %}
<!DOCTYPE html>
<!-- commons/change-password.html -->
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel = 'icon'  href = "{%static 'imgs/infinitfolio.png'%}"  type='image/png'>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <style>
   <title>infinitfolio | Change password</title>
    <style>
        h1{
            color:gold;
            background:black;
            text-align:center;
        }
        form input{
        display:block;
        font-size:25px;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
<body>
    <h1>Change Password😉</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}<br/><button type="submit" style="background:lightgreen; color:white; font-size:30px; width:100%; cursor:pointer">Submit</button><br/><br/>
        <a href="{% url 'Home' %}"><button style="background:orangered; color:white; font-size:20px;cursor:pointer;"> &leftleftarrows;Back</button></a>
    </form>
</body>
</html>
